.contact
    %h2.tabHeading contact
    .row
        .span6
            %dl.dl-horizontal
                %dt
                    Email    
                %dd
                    %a{:href => 'mailto:rob.mcgrail@gmail.com?subject:You rule'} rob.mcgrail@gmail.com
                
