.feeds
    - @feeds.each do |item|
        .feed-item
            .feed-image
                =link_to("<img src='images/#{item.icon}' height='25' width='25'>", item.url)
            .feed-text
                .text
                    = item.text
