.feeds
    %h2.tabHeading assorted stalkables
    - @feeds.each do |item|
        %ul.feedList.unstyled
            %li.feedItem
                .feedImage
                    !=link_to("<img src='img/#{item.icon}' width='20'>", item.url)
                .feedText
                    .text
                        != item.text
                        
