- if flash[:success] || flash[:error]
    :javascript
        $(document).ready(function(){
        $('h2').hide();
        $('h2.warning, h2.message').show();
        setTimeout(function(){
        $(".message, .warning").fadeOut("fast", function () {
        $('h2').show();
        $("h2.warning, h2.message").remove();
        }); }, 2000);
        });
    - if flash[:success]
        %h2.message
            = flash[:success]
    - if flash[:error]
        %h2.warning
            = flash[:error]

