%p
    Powered by <a href="http://sinatrarb.com">Sinatra</a>.
        
<iframe src="http://markdotto.github.com/github-buttons/github-btn.html?user=robomc&repo=robmcgrail.com&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="53px" height="20px"></iframe>

        
