.row
    .span5.intro.block
        :textile

            You're probably looking for "this":http://twitter.com/robmcgrail rob mcgrail, or maybe "this":http://www.robertmcgraildds.com/ one. I'm basically just squatting.

            When that's not what I'm doing, posts and other things sometimes go up. Other times they do that but on pages that aren't linked to from anywhere. For mystery.

.row
    .span5.body.block.readable
        %ul.nav.nav-tabs
            %li.active
                %a{:href => '#stalk', :data => {:toggle => 'tab'}} Stalk
            %li   
                %a{:href => '#links', :data => {:toggle => 'tab'}} Links
            
            
        .tab-content
            .tab-pane.active#stalk    
                - if @feeds
                    != haml :feeds          
            .tab-pane#links
                Hello
