<style>
body {background-color: black; color: lime;}
a:link {color: lime;}
a:visited {color: lime;}
a:hover {color: white;}
a:active {color: lime;}
</style>

<h1><a href="https://twitter.com/scaredofbabies">SNOW PIRATEZ DOT COM</a></h1>
- 5000.times do
    != image_tag("img/l.jpg", {:height => 130, :width => 130})
    != image_tag("img/uc.gif", {:height => 130, :width => 130})
