.contact
    %h2.tabHeading contact
    .row
        .span6
            %address
                %strong
                    email
                %a{:href => 'mailto:rob.mcgrail@gmail.com'} rob.mcgrail@gmail.com
                %br
                %strong
                    twitter
                %a{:href => 'https://twitter.com/#!/scaredofbabies'} @scaredofbabies
                %br
                %strong
                    facebook
                %a{:href => 'http://www.facebook.com/robomc'} facebook.com/robomc
                %br
                %strong
                    github
                %a{:href => 'http://github.com/robomc'} github.com/robomc
                %br
            %hr
    %h2.tabHeading writing
    .row
        .span6
            %a{:href => 'http://the.sagepub.com/content/101/1/130'} 'Review: Technology and social power', <i>Thesis 11, 101 1-2</i>
            %br
            %a{:href => 'http://direct.bl.uk/bld/PlaceOrder.do?UIN=183066740&ETOC=RN'} 'Risky Maps for Contested Territories', <i>NZ Sociology, Vol 20, no. 2</i>
            %br
            %a{:href => 'http://scholar.lib.vt.edu/ejournals/SPT/v12n1/mcgrail.html'} 'Working with Substance: Actor-Network Theory and the Modal Weight of the Material', <i>Research in Philosophy of Technology, Vol 11, no. 1</i>
            %br
            %a{:href => 'http://journalflood.blogspot.com'} journalflood
            %br
            %hr
    %h2.tabHeading half-finisheds
    .row
        .span6
            %strong
                kickoff
            %a{:href => 'http://kickoff.robmcgrail.com'} A html5/bootstrap Sinatra template
            %br
            %strong
                chords
            %a{:href => 'http://chords.robmcgrail.com'} A basic Silex song generator / musical social networking chord leverager
