

/* ===== Primary Styles ========================================================
   Author: Rob McGrail
   ========================================================================== */


.alert {margin-bottom:0px;}
.compact {line-height:120%;}

/* Main */

.introBlock {
  padding:20px;
  padding-bottom:15px;
  background: rgba(135, 200, 220, 0.9);
}

.introBlock > p {font-size: 105%;}

.readable {
  background: rgba(255, 255, 255, 0.9);
/*  background-image:url("/img/groovepaper.png");*/
  background-repeat:repeat;
  padding-left:20px; 
  padding-right:20px;
}

/* Header */
.banner {
  font-size:205%;
  padding-top:10px;
  padding-bottom:20px;
}


/* Feeds */
.bodyBlock {
  padding-top:20px;
  min-height:1600px;
}

.feedImage {
  display:block;
  float:left;
  padding-top:2px;
}

.feedText {margin-left:35px;}

.feedItem {
  padding-left:4px;
}


/* Over-riding tabs */

.bodyBlock > .nav-tabs > .active > a, .bodyBlock > .nav-tabs > .active > a:hover {
  background: rgba(135, 200, 220, 0.85);
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover { color:#222; }
