

/* ===== Primary Styles ========================================================
   Author: Rob McGrail
   ========================================================================== */


.alert {margin-bottom:0px;}
.compact {line-height:120%;}

/* Main */

.window {
  background-repeat:repeat;
  clear:both;

}


.intro {
  padding-top: 20px;
}


/* Header */
.banner {
  padding-top:40px;
}

.intro > p {
  background: green;
  padding-left: 6px;
}

/* Body */
.bodyContent {
  min-height:1600px;
  padding-top: 20px;
}

h1, h2, h3, h4, dt {
  font-family: Verdana, Sans;
}

h2.tabHeading {
  font-size: 105%;
  margin-left:0px;
  line-height:1em;
  margin-bottom: 2em;
}

/* Feed */

.feeds, .contact {
  margin-right: 20px;
  margin-left: 10px;
}

.feedItem {
  padding-left:4px;
}

.feedImage {
  display:block;
  float:left;
  padding-top:2px;
}

.feedText {margin-left:35px;}

.feeds * p {
  background: #eee;
  padding-left: 3px;
}

