%h2= 'Log in'
%hr
%form(id='login' method='post' action='/login/')
    %label
        Username
        %br
        %input(name='username' type='text' title='Username')
        %br
    %label
        Login
        %br
        %input(name='password' type='password' title='Password')
    %br
    %button(type='submit')
        Login

