body{font-family:Verdana,sans-serif;font-size:14px;color:#333; line-height:1.6em;}
/* **************** CONTENT OBJECTS ***************** */

/* ====== Elements ====== */
img{display:block;}
em{font-style: italic;}
strong{font-weight:bold;}
hr{border: 1px dotted #444; border-width: 0 0 1px 0; margin: 10px 10px 10px 0px;}
code{color:#0B8C8F;}

.important a{font-weight:bold;}
/* links */
a {color: #2c4460; text-decoration: none;}
a:hover {text-decoration: underline; background:#eee;}
a:visited { color:#005a9c; }
/* ====== Lists ======*/
/* numbered list */
ol.simpleList li{list-style-type: decimal; margin-left:40px;}
/* standard list */
ul.simpleList li{list-style-type:disc; margin-left:40px;}
/* ====== blockquote ====== */
cite{display:block; text-align:right; padding-top: 10px;}
/* ====== callout ====== */
.callout{font-size:189%;color:#999999; font-style:italic;}
.callout cite{display:block; text-align:right;padding-top: 30px; font-size:69.25%;}
.callout span.quot{font-size: 500%; vertical-align: sub; color:#e2e2e2; line-height:25px; font-weight:bold;}
.callout span.quotLast{vertical-align:middle;}
/* ====== image treatments (get more from jason santa maria) ====== */
.caption{font-size:13px; color:#666666; font-style:italic;padding-top:0;}
/* will need to either
1. find a way to capture the width of the caption in the width of the image or flash
2. Set some default widths, mby use flickr widths?
*/
/* ====== special formatting classes ====== */
.detail{color: #777; font-size:11px;display:block;}
/* ====== images ====== */
.icon{margin-right: 5px;}
/* ======= rob additions ======= */
.subtle{color:#888;font-size:12px;text-align:justify;}
.warning{color:orange;}
.flashes{background-color:white;}
hr.nav{margin-left:10px;}
.message{color:green;}
.nav > li{padding-left:10px;padding-bottom:3px;}
.hidden {display:none;}
.post {padding-top:.7em;padding-bottom:.7em;}
/*.tagline {font-size:16px; font-weight:normal;}*/
footer {padding-top: 60px;}
header,section{padding-bottom:0px}
#main-content > p {line-height: 1.6em;}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {font-family:Verdana,sans-serif;
padding-bottom:.25em;margin-right:2em;letter-spacing:0px;color:#444;line-height:1.2em;}
p{padding-top:0.5em;}
p+h1, p+h2, p+h3, p+h4, p+h5, p+h6 {padding-top:.3em;}
p > a, p > a:visited, h1 > a, h1 > a:visited, h2 > a, h2 > a:visited, h3 > a, h3 > a:visited {color: #444; text-decoration: underline;}
p > a:focus, p > a:hover, h1 > a:focus, h1 > a:hover, h2 > a:focus, h2 > a:hover, h3 > a:focus, h3 > a:hover {color: #555; background:#eee; text-decoration: underline;}
/* accents */
.tag, .tagline {background-color:#FFF69A}
blockquote {padding-left:1.5em;}
/* ====== Headings ====== */
/* .h1-.h6 classes should be used to maintain the semantically appropriate heading levels - NOT for use on non-headings */
h1, .h1{font-size:186%; font-weight:bold; font-style: normal;}
h2, .h2{font-size:168%; font-weight:bold; font-style: normal;}
h3, .h3{font-size:138%; font-weight:bold; font-style: normal;}
h4, .h4{font-size:123.1%; font-weight:bold; font-style: normal;}
h5, .h5{font-size:108%; font-weight:normal; font-style: normal;}
h6, .h6{font-size:108%; font-weight:normal; font-style: italic;}
.article-title{font-size:117%; font-weight:normal; font-style: normal; padding-bottom:0.4em;padding-top:1em;}
p + h2.smaller{padding-top:1em;}
.smaller{font-size:150%; font-weight:bold; font-style: normal;}
/* if additional headings are needed they should be created via additional classes, never via location dependant styling */
.category{font-size:108%; font-weight:normal; font-style: normal; text-transform:uppercase; color: #333;}
.category a{color: #333;}
/* Background colors*/
#page{background-color:#ddd;}
.column{background-color:white;padding:1em;}

