:textile
    This site is made of gold.
:coderay_raw
    #!ruby
    class Hello
        def thing(a,b,*c &block)
            x = 'hello there'
            20.times {|x| puts x}
            yield
        end
    end

