:textile
    Some things will go here.

    Otherwise *testing* _textile_ and
:coderay_raw
    #!ruby
    class SyntaxHighlighting
        def this(*args, &block)
            args.each {|a| puts a}
            yield
        end
    end

