%div(class='unit size3of5')
    %small
        %p.subtle
            This site is a custom #{link_to('http://rack.rubyforge.org/', 'rack')} app
            (because #{link_to('http://www.merbivore.com/', 'merb')} is bloatware).
            #{link_to(R.about_this_site_url, 'Tell me more, asshole?')}

