%h2= 'Background Super Administration'
%hr
%form(id='login' method='post' action='/background/')
    %label
        Background URL
        %br
        %input(name='background' type='text')
    %br
    %button(type='submit')
        Change it up

