= haml :flashes
= textile @intro if @intro
%hr
- @posts.each do |post|
    .post
        %h3= full_link_to post.title, post.slug_path
        ~ textile(html_truncate(post.body, 100))
        %p= print_tags(post, :narrow => true)

