%h2= 'New post'
= haml :flashes
%form(id='edit' method='post' action='/blog/new-post/')
    %label
        Title
        %br
        %input(name='title' type='text' size='40')
    %br
    %label
        Body
        %br
        %textarea(name='body')
    %br
    %label
        Category
        %br
        %input(name='category' type='text')
    %br
    %label
        Tags
        %br
        %input(name='tags' type='text')
    %br
    %button(type='submit')
        Post

